/* global style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
  font-size: clamp(12px, 5vw, 12px);
  transition: all 0.3s ease 0s;
}

p,
h1,
h6,
a {
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}

li {
  display: inline-block;
}

/* header style */

header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

header.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.contanier {
  width: 1200px !important;
}

header .contanier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  flex-wrap: nowrap;
}

header nav {
  display: inline-block;
}

header nav li {
  position: relative;
}

/* START Main Menu - Level 1 */
header nav > ul > li {
  margin-left: 10px;
  position: relative;
}

header nav > ul > li > a {
  padding: 30px 10px;
}

header nav > ul > li > a:hover {
  color: #8490ff;
}

header nav > ul > li > a:focus {
  color: #8490ff;
}

/* START Main Menu - Level 2 */
header nav > ul > li > ul {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 3px;
  top: calc(100% + 20px);
  right: 0;
  width: max-content;
  padding: 20px;
  display: none;
}

header nav > ul > li > ul > li > {
  transition: all 0.2s ease 0s;
}
header nav > ul > li:hover > ul {
  display: block;
  text-align: center;
  translate: 1px 1px;
  width: 200px;
  padding: 10px;
}
/* build li and ul too dar too */
header nav > ul > li > ul > li > ul {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 2px;
  top: calc(100% - 32px);
  right: 175px;
  padding: 20px;
  display: none;
}
header nav > ul > li > ul > li:hover > ul {
  display: block;
  text-align: left;
  width: 155px;
  line-height: 2;
  padding: 10px 20px;
}

header nav > ul > li > ul > li > a {
  padding: 10px 7px;
  padding-right: 100px;
  line-height: 3;
}

/* until hover li under a ul and a */
header nav > ul > li > ul > li > a:hover {
  color: #8490ff;
}

/* hover for inside li and a */
header nav > ul > li > ul > li >ul>li> a:hover {
  color: #8490ff;
}
header nav > ul > li > ul > li >ul>li> a:focus {
  color: #8490ff;
}

/* box shadow for ul until is hover */
header nav > ul > li > ul {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: all 0.3s ease 0s;
}
header nav > ul > li > ul > li > ul {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: all 0.3s ease 0s;
}


/* finish header */

/* main */
main .contanier {
  width: 100% !important;
  background-color: #f7f8ff;
}
main .row {
  width: 100% !important;
  display: inline-flex;
  flex-wrap: nowrap;
  height: 750px !important;
  justify-content: center;
}
main .dec {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
main .dec > p {
  width: 400px;
  margin-bottom: 25px;
}
main .dec > h6 {
  width: 400px;
}
main .dec > h1 {
  width: 400px;
  font-size: clamp(45px, 10vw, 50px);
  margin: 10px 0;
}
main .dec > div {
  width: 400px;
}
main .dec > div a {
  width: 150px;
  color: white;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  display: inline-block;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
main .dec > div > a:hover {
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

main .image {
  width: 50%;
  display: flex;
  justify-content: left;
}

main .image > img {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

/* about me style css */
main section .contanier {
  width: 100% !important;
  background-color: #ffffff;
}

main section .image {
  width: 50%;
  display: flex;
  justify-content: right;
}

main section .image > img {
  height: 480px;
  width: clamp(50%, 550px, 100%);
  margin-top: 100px;
}
main .dec {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
main section .dec > p {
  width: 445px;
  margin-bottom: 27px;
  color: rgb(188, 185, 185);
}
main section .dec > h6 {
  width: 445px;
}
main section .dec > h1 {
  width: 445px;
  font-size: clamp(30px, 10vw, 40px);
}
main section .dec > div {
  width: 445px;
}
main section .dec > div > a {
  width: 150px;
  padding: 15px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
main section .dec > div > a:hover {
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

/* resumption main */
main section .contanier {
  text-align: center;
}
main section .contanier > h1 {
  font-size: clamp(34px, 5vw, 44px);
  margin-bottom: 0;
}
main section .contanier > p {
  color: #a3a3a3;
  font-size: clamp(14px, 5vw, 15px);
  font-weight: 300;
  line-height: 1.625em;
}

main section .contanier:nth-child(2) > .rows > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.rows {
  display: flex;
  height: max-content;
  padding: 0 30px;
  margin-bottom: 30px;
}
main section .contanier > .rows > div {
padding: 30px 50px;
}

/* blue section css */
section .contanier > .blue {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  height: max-content;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

section .contanier > .blue > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
section .contanier > .blue > div > h1 {
  margin: 0;
}

/* responsiv */
@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
